initialize() {

	if (sex) {
		initializeSex();
	}
	
	// Initialize mutations types, genomic element types, and chromosomes

	if (ben) {
		// Nuclear mutations
		initializeMutationType("m1", 0.5, "g", -0.01, 0.2); // Nuclear negative
		initializeMutationType("m2", 0.5, "g", 0.001, 1); // Nuclear positive

		// Mitochondrial mutations
		initializeMutationType("m3", 1.0, "g", -0.05, 0.2); // Mitochondrial negative
		initializeMutationType("m4", 1.0, "g", 0.001, 1); // Mitochondrial positive
		

		
	}

	else {
		initializeMutationType("m1", 0.5, "g", -0.01, 0.2); // Nuclear negative
		initializeMutationType("m2", 0.5, "g", -0.01, 0.2); // Nuclear positive
				
		// Mitochondrial mutations
		initializeMutationType("m3", 1.0, "g", -0.05, 0.2); // Mitochondrial negative
		initializeMutationType("m4", 1.0, "g", -0.05, 0.2); // Mitochondrial positive
	}

	// Set convertToSubstitution to F for all mutation types - allows epistasis
	m3.convertToSubstitution = F;
	m4.convertToSubstitution = F;
	m1.convertToSubstitution = F;
	m2.convertToSubstitution = F;

	initializeGenomicElementType("g1", c(m1, m2), c(0.98, 0.02)); // Nuclear genome
	initializeGenomicElementType("g2", c(m3, m4), c(0.98, 0.02)); // Mitochondrial genome
	

	
	
	// Chromosomes

	// Nuclear chromosome
	initializeChromosome(1, 1e6, type="A", symbol="N"); // autosomal
	initializeGenomicElement(g1, 0, 999999);
	initializeMutationRate(1e-7);
	
	if (sex) {
		initializeRecombinationRate(recom); 
	}
	else {
		initializeRecombinationRate(0);
	}
	
	// Mitochondrial chromosome
	initializeChromosome(2, 1e4, type="HF", symbol="M"); // haploid female inheritance
	initializeRecombinationRate(0);
	initializeGenomicElement(g2, 0, 9999);
	initializeMutationRate(1e-6);
}

// Set up the population and logging

1 early() {

	sim.addSubpop("p1", 250); // population of 250 individuals

	if (!sex) {
		p1.setCloningRate(1.0); // cloning rate of 1.0 for asexual reproduction
	}
}

1: early() {
	
	if (sim.cycle % 100 == 0) {
		cat(sim.cycle + "\n"); // print the current generation every 100 generations
	}
} 

// Calculate fitness based on the effects of nuclear and mitochondrial mutations, including epistatic interactions

1: late() {

	inds = sim.subpopulations.individuals;
	popFitt = c();

	// loop through each individual in the population to calculate fitness
	for (ind in inds) {
		globalFitness = 0;
		unique = ind.uniqueMutations; // get the unique mutations for the individual
		uniqueNuc = unique[unique.mutationType == m1 | unique.mutationType == m2]; // subset to get only nuclear mutations
		uniqueMito = unique[unique.mutationType == m3 | unique.mutationType == m4]; // subset to get only mitochondrial mutations
		for (mut in uniqueNuc) {
			globalFitness = globalFitness + (abs(mut.selectionCoeff) * mut.selectionCoeff);
		
		}
		// loop through each mitochondrial mutation to calculate the epistatic interactions with nuclear mutations
		for (m in uniqueMito) {
		
			if (!epi) {
				globalFitness = globalFitness + (m.selectionCoeff * abs(m.selectionCoeff));
			} else {
				total = 0;
				epistatic = uniqueNuc[uniqueNuc.position % epiSt == m.position % epiSt]; // get the nuclear mutations that are epistatic with the mitochondrial mutation (i.e., those that occur at the same position modulo epiSt)

				// loop through the epistatic nuclear mutations to calculate the total effect on fitness
				for (n in epistatic) {
					if (n.tag == m.tag) {
						total = total + abs(n.selectionCoeff);
					}
					else {total = total - abs(n.selectionCoeff);}
				}

				if (length(epistatic) > 0) {
					globalFitness = globalFitness + (total * abs(m.selectionCoeff));
				}

				
			}
		}
		// loop through the nuclear mutations to add their effects on fitness (after accounting for epistasis with mitochondrial mutations)
		

		// calculate the final fitness for the individual, ensuring it is not negative
		Fitness = max(0.0, 1.0 + globalFitness * 3.0); // scale fitness to ensure it is positive and has a reasonable range
		popFitt = c(popFitt, Fitness);
	}

	inds.fitnessScaling = popFitt;
}

// Deactivate SLiM's default mutation effect function and use a custom one that allows for epistasis

mutationEffect(m1) {
	return 1.0;
}

mutation(m1) {
	mut.tag = rdunif(1, 0, 19);
	return T;
}

mutationEffect(m2) {
	return 1.0;
}

mutation(m2) {
	mut.tag = rdunif(1, 0, 19);
	return T;
}

mutationEffect(m3) {
	return 1.0;
}

mutation(m3) {
	mut.tag = rdunif(1, 0, 19);
	return T;
}

mutationEffect(m4) {
	return 1.0;
}

mutation(m4) {
	mut.tag = rdunif(1, 0, 19);
	return T;
}

2:10001 early() {
	fitness = mean(p1.cachedFitness(NULL));

	values = sim.getValue("fitness_over_time");
	values = c(values, fitness);
	sim.setValue("fitness_over_time", values);
}

// End the simulation after 10000 generations
10000 late() {
	if (sex) {
		S = "/sex_";
	} else {
		S = "/asex_";
	}
	
	if (ben) {
		B = "ben_";
	} else {
		B = "noben_";
	}
	
	if (epi) {
		Ep = "epi";
	} else {
		Ep = "noepi";
	}
	
	Rc = asString(recom);
	EpSt = asString(epiSt);

	finalPath = getwd() + "/temp" + S + B + Ep +"_" + EpSt +"_" + Rc + "_20"+ "_Trial" + repID + ".csv";

	values = sim.getValue("fitness_over_time");
	line = paste(values, sep=",");
	writeFile(finalPath, line, append=T);

	sim.simulationFinished();
}
