// set up a simple neutral simulation
initialize() {

	MaxFitness = 0;
	initializeSex();
	
	
	initializeMutationType("m1",0.5, "g", -0.01, 0.2); //Nuclear Neg
	initializeMutationType("m2", 1.0, "g", -0.05, 0.2); //Mitochondrial Neg
	initializeMutationType("m3", 1.0, "g", 0.001, 1); //Mitochondrial Pos
	initializeMutationType("m4", 0.5, "g", 0.001, 1); //Nuc Positive
	


	m1.convertToSubstitution = F;
	m2.convertToSubstitution = F;
	m3.convertToSubstitution = F;
	m4.convertToSubstitution = F;


	initializeGenomicElementType("g1", c(m1,m4), c(0.98, 0.02));
	initializeGenomicElementType("g2", c(m2,m3), c(0.98, 0.02));
	

	
	initializeChromosome(1, 1e5, symbol="N");
	initializeGenomicElement(g1, 0, 99999);
	initializeMutationRate(1e-7);
	initializeRecombinationRate(1e-8);
//	initializeRecombinationRate(0);
	
	
	
	
	initializeChromosome(2, 5e4, type="HF", symbol="M");
	initializeRecombinationRate(0);
	initializeGenomicElement(g2, 0, 49999);
	initializeMutationRate(1e-6);}


1 early() {

	sim.setValue("MaxFitness", 0.0);
	sim.addSubpop("p1", 500);
	sim.setValue("K", 50);
//	p1.setCloningRate(1.0);

}


1: early() {
	curr_max = sim.getValue("MaxFitness");
	curr_fitness = mean(p1.cachedFitness(NULL));
	if (curr_max < curr_fitness){
		sim.setValue("MaxFitness", curr_fitness);
		
 		cat(sim.cycle+"\n");
 		cat("Mean fitness: " + curr_fitness + "\n");
 		cat("\n");
 	}
}




 
//
//
//mutationEffect(m2) {
//	pos = mut.position;
//	nuc_pos = individual.uniqueMutations[individual.uniqueMutations.mutationType == m1].position;
//	if (any(nuc_pos == pos)) {
//		return ((effect - 1)*-1) + 1.5;}
//	else {
//		return effect;
//}
//
//





mutationEffect(m2) {
	K = sim.getValue("K");
	mutPos = mut.position;
	
	Mutations = individual.uniqueMutations[individual.uniqueMutations.position % 1000 == mutPos % 1000];
	
	if (any(Mutations.mutationType == m1)) {
		return 1.0;}
	
	return effect;}
	
mutationEffect(m1) {
	K = sim.getValue("K");
	mutPos = mut.position;
	
	Mutations = individual.uniqueMutations[individual.uniqueMutations.position % 500 == mutPos % 500];
	  
	
	if (any(Mutations.mutationType == m2)) {
		return 1.0;}
	
	return effect;}

// output samples of 10 haplosomes periodically, all fixed mutations at end

10000 late() {
sim.outputFull();
 cat(sim.getValue("MaxFitness") + "\n");
sim.simulationFinished(); }
