initialize() {

//	initializeSex();
	
	initializeMutationType("m1", 0.5, "g", -0.01, 0.2); //Nuclear Neg A
	initializeMutationType("m2", 0.5, "g", -0.01, 0.2); //Nuclear Neg B
	initializeMutationType("m3", 0.5, "g", 0.001, 1); //Nuc Positive A
	initializeMutationType("m4", 0.5, "g", 0.001, 1); //Nuc Positive B
	
	initializeMutationType("m5", 1.0, "g", -0.05, 0.2); //Mitochondrial Neg A
	initializeMutationType("m6", 1.0, "g", -0.05, 0.2); //Mitochondrial Neg B
	initializeMutationType("m7", 1.0, "g", 0.001, 1); //Mitochondrial Pos   A
	initializeMutationType("m8", 1.0, "g", 0.001, 1); //Mitochondrial Pos   B

	m1.convertToSubstitution = F;
	m2.convertToSubstitution = F;
	m3.convertToSubstitution = F;
	m4.convertToSubstitution = F;
	m5.convertToSubstitution = F;
	m6.convertToSubstitution = F;
	m7.convertToSubstitution = F;
	m8.convertToSubstitution = F;
	
	initializeGenomicElementType("g1", c(m1,m2,m3,m4), c(0.49,0.49, 0.01, 0.01));
	initializeGenomicElementType("g2", c(m5,m6,m7,m8), c(0.49,0.49, 0.01, 0.01));
	
	initializeChromosome(1, 1e5, type="A", symbol="N");
	initializeGenomicElement(g1, 0, 99999);
	initializeMutationRate(1e-7);
//	initializeRecombinationRate(1e-8);
	initializeRecombinationRate(0);
	
	initializeChromosome(2, 1e5, type="HF", symbol="M");
	initializeRecombinationRate(0);
	initializeGenomicElement(g2, 0, 99999);
	initializeMutationRate(1e-6);
}

1 early() {

	sim.addSubpop("p1", 250);
	
	log = community.createLogFile("Capstone Project/R/sim_log_Sex.csv", logInterval=25);
	log.addCycle();
	log.addCustomColumn("Fitness", "mean(p1.cachedFitness(NULL));"); 
	p1.setCloningRate(1.0);

}

1: early() {
	
	if (sim.cycle % 100 == 0) {
		cat(sim.cycle + "\n");
	}
} 

1: late() {

	inds = sim.subpopulations.individuals;
	popFitt = c();

	for (ind in inds) {
		globalFitness = 0;
		unique = ind.uniqueMutations;
		uniqueNuc = unique[unique.mutationType == m1 | unique.mutationType == m2 | unique.mutationType == m3 | unique.mutationType == m4];
		uniqueMito = unique[unique.mutationType == m5 | unique.mutationType == m6 | unique.mutationType == m7 | unique.mutationType == m8];

		for (m in uniqueMito) {
			total = 0;
			epistatic = uniqueNuc[uniqueNuc.position % 125 == m.position % 125];

			for (n in epistatic) {
				if (n.mutationType == m1 | n.mutationType == m3) {total = total + abs(n.selectionCoeff);}
				else {total = total - abs(n.selectionCoeff);}
			}
				
//			globalFitness = globalFitness + (m.selectionCoeff * abs(m.selectionCoeff));

			if (length(epistatic) == 0) {
				globalFitness = globalFitness + (m.selectionCoeff * abs(m.selectionCoeff));
			}

			if (m.mutationType == m6 | m.mutationType == m8) {
				globalFitness = globalFitness - (total * abs(m.selectionCoeff));
			}

			else 
				{globalFitness = globalFitness + (total * abs(m.selectionCoeff));
			}
		}
		
		for (mut in uniqueNuc) {
			globalFitness = globalFitness + (abs(mut.selectionCoeff) * mut.selectionCoeff);
		}

		Fitness = max(0.0, 1.0 + globalFitness * 3.0);
		popFitt = c(popFitt, Fitness);
	}

	inds.fitnessScaling = popFitt;
}

mutationEffect(m2) {
return 1.0;}

mutationEffect(m1) {
return 1.0;}

mutationEffect(m3) {
return 1.0;}

mutationEffect(m4) {
return 1.0;}

mutationEffect(m5) {
return 1.0;}

mutationEffect(m6) {
return 1.0;}

mutationEffect(m7) {
return 1.0;}

mutationEffect(m8) {
return 1.0;}

4000 late() {
	sim.simulationFinished();
}

