// set up a simple neutral simulation
initialize() {

	MaxFitness = 0;
	initializeSex();
	

	initializeMutationType("m1",0.5, "f", 0); //Nuclear
	initializeMutationType("m2", 1.0, "n", -0.7, 0.15); //Mitochondrial
	m1.convertToSubstitution = F;
	m2.convertToSubstitution = F;
	
	
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElementType("g2", m2, 1.0);
	
	initializeChromosome(1, 1e5, symbol="N");
	initializeGenomicElement(g1, 0, 99999);
	initializeMutationRate(1e-8);
	initializeRecombinationRate(1e-7);
	
	
	
	
	initializeChromosome(2, 1e5, type="HF", symbol="M");
	initializeRecombinationRate(0);
	initializeGenomicElement(g2, 0, 99999);
	initializeMutationRate(1e-6);}

// create a population of 500 individuals
1 early() {
	sim.setValue("MaxFitness", 0.0);
	sim.addSubpop("p1", 500);
//	log = community.createLogFile("fitness_log.txt", logInterval=1);
//   log.addCycle();
//   log.addMeanFitness("p1");
}


1: early() {
	curr_max = sim.getValue("MaxFitness");
	curr_fitness = mean(p1.cachedFitness(NULL));
	if (curr_max < curr_fitness){
		sim.setValue("MaxFitness", curr_fitness);
		
 		cat(sim.cycle+"\n");
 		cat("Mean fitness: " + curr_fitness + "\n");
 		cat("\n");
 	}
}


mutationEffect(m2) {
	pos = mut.position;
	nuc_pos = individual.uniqueMutations[individual.uniqueMutations.mutationType == m1].position;
	if (any(nuc_pos == pos)) {

		return effect + 1.0;}
	else {
		return effect;
}


}
// output samples of 10 haplosomes periodically, all fixed mutations at end

5000 late() { sim.outputFull();
sim.simulationFinished(); }
