initialize() {
	print("Initializing simulation...");
	if (!exists("asexual")){
		//parameter to toggle asexual reproduction
		defineConstant("asexual", T);
	}
	defineConstant("popSize", 1000);

	//Enable pedigree tracking
	initializeSLiMOptions(keepPedigrees=T);
	
	initializeSex();
	
	
	//Mutations: experiment with DFE (manual section 26.11)
	defineConstant("use_alts", T);
	
	//create normal mutation distributions
	if (use_alts == F){
		//Negligible mutations
		initializeMutationType("m2", 0.5, "f", 0.0); // synonymous
		initializeMutationType("m3", 0.1, "g", -0.0, 0.1); // deleterious
		initializeMutationType("m5", 0.7, "g", -0.19, 1.2); // fun deleterious for preloading
		initializeMutationType("m4", 0.1, "e", 0.0); //beneficial

		//genomic elements
		//mito
		initializeGenomicElementType("g1",c(m2, m3, m4) , c(1,1,1));
		//autosomal
		initializeGenomicElementType("g2",c(m2, m3, m4) , c(1,1,1));
	} else {
		//alt mutations
		initializeMutationType("m2", 0.5, "g", 0.0, 1); // synonymous
		initializeMutationType("m3", 0.1, "g", -0.05, 0.2); // deleterious
		
		//fixed m5
		initializeMutationType("m5", 0.7, "f", -0.19); // fixed
		//initializeMutationType("m5", 0.7, "g", -0.19, 1.2); // gamma
		
		initializeMutationType("m4", 0.1, "g", 0.001, 1); //beneficial

		//mito
		initializeGenomicElementType("g1",c(m2, m3, m4) , c(1,0.98,0.15));
		//autosomal
		initializeGenomicElementType("g2",c(m2, m3, m4) , c(1,0.98,0.15));
	}


	
	//depending on how realistic we want to be, we may want to increase chromosome length
	
	//chromosome 1: mitochondrial chromosome
	initializeChromosome(1, type="HF");
	//mt chromosome is typically 16.5k base pairs
	//ours is currently about 10k
	initializeGenomicElement(g1, 0, 16500-1);
	initializeMutationRate(1e-5);
	//initializeRecombinationRate(1e-7);
	
	//chromosome 2: autosome
	initializeChromosome(2, type="A");
	//nuclear genome is 3.1 billion base pairs
	//ours is like 100k
	initializeGenomicElement(g2, 0, 3100000000-1);
	initializeMutationRate(1e-7);
	initializeRecombinationRate(1e-7);

}

1 early() {
	
	//initialize population
	sim.addSubpop("p1", popSize);
	if (asexual == T){
		p1.setCloningRate(1.0);
	}

	//Vector to store fitness over time
	p1.setValue("fitness_over_time", c());
}

//seeds deleterious mutations
1 modifyChild() {
	//gather mitochondrial chromosomes
	mito_chroms = c();
	for (mito in child.haplosomes){
		if (mito.chromosome.id == 1){
			mito_chroms = c(mito_chroms, mito);
		}
	}
	//seed deleterious mutations into mitochondrial chromosomes
	mito_chroms.addNewDrawnMutation(m5, rdunif(1,0,1e4-1));

	return T;
}


2 early() {
	print("Mean fitness at generation 1:");
	print(mean(p1.cachedFitness(NULL)));
}

2: early() {
	if (mean(p1.cachedFitness(NULL)) >= 1.0){
		//Send a message when threshold is reached
		print("Mean fitness at generation " + sim.cycle + " has reached 1.0");
		print("Mean fitness at generation " + sim.cycle + ":");
		print(mean(p1.cachedFitness(NULL)));
		
		if (asexual == T){
			writeFile(getwd() + "/asexual_cycles_to_escape.txt", asString(sim.cycle), append=T);
		} else {
			writeFile(getwd() + "/sexual_cycles_to_escape.txt", asString(sim.cycle), append=T);
		}
		
		//deregister this script block to stop this check print
		community.deregisterScriptBlock(self);
	}
	

}

1000 late() {
	//sim.simulationFinished(); 
	//sim.outputFull();
}

1001 early() {
	//print(community.tick);
	print("Mean fitness at generation 1000:");
	print(mean(p1.cachedFitness(NULL)));
	if (asexual == T){
		writeFile(getwd() + "/asexual_final_fitness.txt", asString(mean(p1.cachedFitness(NULL))), append=T);
	} else {
		writeFile(getwd() + "/sexual_final_fitness.txt", asString(mean(p1.cachedFitness(NULL))), append=T);
	}
}

2:1001 early() {
    f = mean(p1.cachedFitness(NULL));

    v = p1.getValue("fitness_over_time");
    v = c(v, f);
    p1.setValue("fitness_over_time", v);
}

1001 late() {
    v = p1.getValue("fitness_over_time");
	s = paste(v, sep=" ");
    if (asexual == T)
        writeFile(getwd() + "/asexual_fitness_over_time.txt", s, append=T);
    else
        writeFile(getwd() + "/sexual_fitness_over_time.txt", s, append=T);

    print(length(v) + " entries exported");
	print("Simulation complete");
}
