//creating this bad boy so I don't totally break GrowthFitness

initialize() {
	//parameter to toggle asexual reproduction
	defineConstant("asexual", F);
	
	//create normal mutation distributions
	//I just added the basic set that remains active the whole time
	initializeMutationType("m2", 0.5, "f", 0.0); // synonymous
	initializeMutationType("m3", 0.1, "g", -0.03, 0.2); // deleterious
	initializeMutationType("m5", 0.7, "g", -0.19, 1.2); // fun deleterious for preloading
	initializeMutationType("m4", 0.1, "e", 0.001); //beneficial
	
	//genomic elements
	//g1 to be used for autosomes
	initializeGenomicElementType("g1",c(m2, m3, m4) , c(2,3,4));
	//g2 specifically for mutation dump
	initializeGenomicElementType("g2", m3,3);
	
	
	//chromosome 1: mitochondrial chromosome
	initializeChromosome(1, type="H");
	initializeGenomicElement(g1, 0, 1e4-1);
	//increased mutation rate
	initializeMutationRate(1e-6);
	initializeRecombinationRate(1e-7);
	
	//chromosome 2: autosome
	initializeChromosome(2, type="A");
	initializeGenomicElement(g1, 0, 1e5-1);
	initializeMutationRate(1e-7);
	initializeRecombinationRate(1e-7);
	
	//chromosome 3: autosome
	initializeChromosome(3, type="A");
	initializeGenomicElement(g1, 0, 1e5-1);
	initializeMutationRate(1e-7);
	initializeRecombinationRate(1e-7);
}
1 early() {
	
	//initialize population
	sim.addSubpop("p1", 500);
	if (asexual == T){
		p1.setCloningRate(1.0);
	}

}
//remove me if you don't want to stop once we reached the OG fitness
4999 early(){
	//cache current fitness before preloading
	defineConstant("fitness", mean(p1.cachedFitness(NULL)));
	//print(fitness);
}

//burn-in period ends here
5000 late() {
	//gather mitochondrial chromosomes
	mito_chroms = c();
	for (some in p1.individuals.haplosomes){
		if (some.chromosome.id == 1){
			mito_chroms = c(mito_chroms, some);
		}
	}
	
	//seed deleterious mutations into 400 mitochondrial chromosomes
	sample(mito_chroms,400).addNewDrawnMutation(m5, rdunif(1,0,1e4-1));
	
	//g2.setMutationFractions(m2, 0.000000000000001);
}

//colon means it runs this every tick.... I think
5001: early(){
	//if current fitness > og fitness: end sim
	//cache fitness
	fitness2 =  mean(p1.cachedFitness(NULL));
	//print(fitness2);
	
	//in this case, fitness can be changed to whatever we want it to be, doesn't have to be pre-drop fitness
	//did > b/c it's safer than ==
	if (fitness2 > fitness) {
		print("Simulation ended");
		print(community.tick);
		sim.simulationFinished();
		//print clicks it took to get here
		//print(community.estimatedLastTick());
		//whatever else we need
	}
}

10000 late() {
	//in case it never reached OG fitness
	print("Unable to reach required fitness");
	sim.simulationFinished();
	//sim.outputFull();
}