initialize() {
	//parameter to toggle asexual reproduction
	defineConstant("asexual", T);

	//neutral mutation
	initializeMutationType("m1", 1.0, "f", 0.0);

	//deleterious mutation
	//probably create more?
	initializeMutationType("m2", 40000, "g", -0.09, 1.5);

	//genomic elements
	initializeGenomicElementType("g1",m1 , 1.0);
	initializeGenomicElementType("g2", c(m1 ,m2), c(1,2));
	initializeGenomicElementType("g3",m1 , 1.0);


	//chromosome 1: mitochondrial chromosome
	initializeChromosome(1, type="H");
	initializeGenomicElement(g1, 0, 1e4-1);
	initializeMutationRate(1e-7);
	initializeRecombinationRate(1e-7);

	//chromosome 2: autosome
	initializeChromosome(2, type="A");
	initializeGenomicElement(g2, 0, 1e5-1);
	initializeMutationRate(1e-7);
	initializeRecombinationRate(1e-7);

	//chromosome 3: autosome
	initializeChromosome(3, type="A");
	initializeGenomicElement(g3, 0, 1e5-1);
	initializeMutationRate(1e-7);
	initializeRecombinationRate(1e-7);
}
1 early() {
	
	//initialize population
	sim.addSubpop("p1", 500);
	if (asexual == T){
		p1.setCloningRate(1.0);
	}
}

//burn-in for 5000 generations
5000 early() { p1.setSubpopulationSize(1000);
	//gather mitochondrial chromosomes
	mito_chroms = c();
	for (some in p1.individuals.haplosomes){
		if (some.chromosome.id == 1){
			mito_chroms = c(mito_chroms, some);
		}
	}
	//seed deleterious mutations into 400 mitochondrial chromosomes
	sample(mito_chroms,400).addNewDrawnMutation(m2, rdunif(1,0,1e4-1));

	g2.setMutationFractions(m2, 0.000000000000001);
}

10000 early() { 
	print(p1.cachedFitness(c(0:500)));
}

10000 late() { 
	

	//sim.simulationFinished(); 
	//sim.outputFull();
}