initialize() {
	print("-------Sim Start-------");
	print("Initializing simulation...");

	//parameter to toggle asexual reproduction
	if (!exists("asexual")){
		defineConstant("asexual", T);
	}
	
	//parameter to toggle where to preload mutations
	if (!exists("preload_location")){
		defineConstant("preload_location", "nucl");
	}

	//parameter to toggle which mutational profile to use
	if (!exists("mut_profile")){
		defineConstant("mut_profile", 3);
	}

	//parameter to toggle whether to include epistasis between mito and nuc muts
	if (!exists("epi")){
		defineConstant("epi", T);
	}

	//parameter to specify file to output data to
	if (!exists("data_file")){
		defineConstant("data_file", "default_fitness_over_time.txt");
	}

	//parameter to specify if we log the simulation
	if (!exists("logging")){
		defineConstant("logging", F);
	}
	
	//constants created to define population size, chromosome length, and rate of epistasis
	defineConstant("popSize", 250);
	defineConstant("mito_chrom_length", 1e4);
	defineConstant("nuc_chrom_length", 1e6);
	
	defineConstant("epi_rate", 100);
	
	//Enable pedigree tracking
	initializeSLiMOptions(keepPedigrees=T);
	
	if (!asexual){
		initializeSex();
	}
	

	//create mutation distributions
	if (mut_profile == 1){
		//Both del and ben muts
		
		// Nuclear mutations
		initializeMutationType("m1", 0.5, "g", -0.01, 0.2); // Nuclear negative
		initializeMutationType("m2", 0.5, "g", 0.001, 1); // Nuclear positive

		// Mitochondrial mutations
		initializeMutationType("m3", 1.0, "g", -0.05, 0.2); // Mitochondrial negative
		initializeMutationType("m4", 1.0, "g", 0.001, 1); // Mitochondrial positive
		
		} else if (mut_profile == 2){
		//only del muts
		
		// Nuclear mutations
		initializeMutationType("m1", 0.5, "g", -0.01, 0.2); // Nuclear negative
		initializeMutationType("m2", 0.5, "g", -0.01, 0.2); 
				
		// Mitochondrial mutations
		initializeMutationType("m3", 1.0, "g", -0.05, 0.2); // Mitochondrial negative
		initializeMutationType("m4", 1.0, "g", -0.05, 0.2); // Mitochondrial 
	
		
	} else if (mut_profile == 3){
		//no muts (techincially synonymous muts with no fitness effect)
		//Nuclear
		initializeMutationType("m1", 0.5, "f", 0.0);
		initializeMutationType("m2", 0.5, "f", 0.0);
		//Mitochondrial
		initializeMutationType("m3", 0.5, "f", 0.0);
		initializeMutationType("m4", 0.5, "f", 0.0);
		
	}

	//create genomic element types to determine where these mutations can mutate and their proportions
	initializeGenomicElementType("g1", c(m1, m2), c(0.49, 0.01)); // Nuclear genome
	initializeGenomicElementType("g2", c(m3, m4), c(0.49, 0.01)); // Mitochondrial genome


	m1.convertToSubstitution = F;
	m2.convertToSubstitution = F;
	m3.convertToSubstitution = F;
	m4.convertToSubstitution = F;

	m5.convertToSubstitution = F;
	m6.convertToSubstitution = F;
	m7.convertToSubstitution = F;
	
	//chromosome 1: mitochondrial chromosome
	//adding in chromosome length
	initializeChromosome(1,mito_chrom_length, type="HF");
	initializeGenomicElement(g1, 0, mito_chrom_length-1);
	initializeMutationRate(1e-6);
	initializeRecombinationRate(0.0);
	
	//chromosome 2: autosome
	//adding chromosome length
	initializeChromosome(2,nuc_chrom_length,type="A");
	initializeGenomicElement(g2, 0, nuc_chrom_length-1);
	initializeMutationRate(1e-7);
	initializeRecombinationRate(5e-6);
}

1 early() {
	
	//initialize population
	sim.addSubpop("p1", popSize);
	//Asexual populations reproduce by cloning 100% of the time
	if (asexual == T){
		p1.setCloningRate(1.0);
	} else {
		p1.setCloningRate(0.0);
	}
	
	//Vector to store fitness over time
	p1.setValue("fitness_over_time", c());
}

//override SLiM's current fitness calculation
mutationEffect(m1) {
	return 1.0;
}

mutation(m1) {
	mut.tag = rdunif(1, 0, 19);
	return T;
}

mutationEffect(m2) {
	return 1.0;
}

mutation(m2) {
	mut.tag = rdunif(1, 0, 19);
	return T;
}

mutationEffect(m3) {
	return 1.0;
}

mutation(m3) {
	mut.tag = rdunif(1, 0, 19);
	return T;
}

mutationEffect(m4) {
	return 1.0;
}

mutation(m4) {
	mut.tag = rdunif(1, 0, 19);
	return T;
}

mutationEffect(m5) {
	return 1.0;
}

mutation(m5) {
	mut.tag = rdunif(1, 0, 19);
	return T;
}

mutationEffect(m6) {
	return 1.0;
}

mutation(m6) {
	mut.tag = rdunif(1, 0, 19);
	return T;
}

mutationEffect(m7) {
	return 1.0;
}

mutation(m7) {
	mut.tag = rdunif(1, 0, 19);
	return T;
}

//seeds deleterious mutations
1 modifyChild() {
	
	//gather haplosomes from designated pre-seeding chromosome
	mut_chroms = c();
	for (hap in child.haplosomes){
		if (preload_location == "mito" ){
			if (hap.chromosome.id == 1){
				mut_chroms = c(mut_chroms, hap);
			}
		} else {
			if (hap.chromosome.id == 2){
				mut_chroms = c(mut_chroms, hap);
			}
		}
	}

	for (i in 1:20){
		//seed deleterious mutations into mitochondrial chromosomes
		newMuts = mut_chroms.addNewDrawnMutation(m5, rdunif(1,0,mito_chrom_length-1));
		for (newMut in newMuts)
			newMut.tag = rdunif(1, 0, 19);
		newMuts = mut_chroms.addNewDrawnMutation(m6, rdunif(1,0,mito_chrom_length-1));
		for (newMut in newMuts)
			newMut.tag = rdunif(1, 0, 19);
		newMuts = mut_chroms.addNewDrawnMutation(m7, rdunif(1,0,mito_chrom_length-1));
		for (newMut in newMuts)
			newMut.tag = rdunif(1, 0, 19);
	}
	
	
	return T;
}

1: late() {
	
	
	inds = sim.subpopulations.individuals;
	popFitt = c();
	
	// loop through each individual in the population to calculate fitness
	for (ind in inds) {
		globalFitness = 0;
		
		unique = ind.uniqueMutations; // get the unique mutations for the individual
		
		if (epi == F) {
			for (m in unique) {
				globalFitness = globalFitness + (m.selectionCoeff * abs(m.selectionCoeff));
			}
		} else {
			if preload_location == "mito" {
				uniqueNuc = unique[unique.mutationType == m1 | unique.mutationType == m2]; 
				uniqueMito = unique[unique.mutationType == m3 | unique.mutationType == m4 | unique.mutationType == m5 | unique.mutationType == m6 | unique.mutationType == m7];
			} else {	
				uniqueNuc = unique[unique.mutationType == m1 | unique.mutationType == m2 | unique.mutationType == m5 | unique.mutationType == m6 | unique.mutationType == m7]; 
				uniqueMito = unique[unique.mutationType == m3 | unique.mutationType == m4];
			}
			// loop through each mitochondrial mutation to calculate the epistatic interactions with nuclear mutations
			for (m in uniqueMito) {
				
				
				total = 0;
				epistatic = uniqueNuc[uniqueNuc.position % epi_rate == m.position % epi_rate]; // get the nuclear mutations that are epistatic with the mitochondrial mutation (i.e., those that occur at the same position modulo 125)
				
				//UPGRADE
				// loop through the epistatic nuclear mutations to calculate the total effect on fitness
				for (n in epistatic) {
					if (n.tag == m.tag) {
						total = total + abs(n.selectionCoeff);
					}
					else {total = total - abs(n.selectionCoeff);}
				}
				
				if (length(epistatic) > 0) {
				
					globalFitness = globalFitness + (total * abs(m.selectionCoeff));
				}
			}
			// loop through the nuclear mutations to add their effects on fitness (after accounting for epistasis with mitochondrial mutations)
			for (mut in uniqueNuc) {
				globalFitness = globalFitness + (abs(mut.selectionCoeff) * mut.selectionCoeff);
			}
		}
		
		// calculate the final fitness for the individual, ensuring it is not negative
		Fitness = max(0.0, 1.0 + globalFitness * 3.0); // scale fitness to ensure it is positive and has a reasonable range
		popFitt = c(popFitt, Fitness);
	}
	
	inds.fitnessScaling = popFitt;
}



2 early() {
	//Mutational metdown fitness
	print("Mean fitness at generation 1:");
	print(mean(p1.cachedFitness(NULL)));
}

//tracks how far down nucl sexual sinks after being seeded
3 early() {
	//Mutational metdown fitness
	print("Mean fitness at generation 2:");
	print(mean(p1.cachedFitness(NULL)));
}


2001 early() {
	//Final fitness - output
	print("Mean fitness at generation 2000:");
	print(mean(p1.cachedFitness(NULL)));
}

2:2001 early() {
	//update stored data about fitness over time for this simulation
	f = mean(p1.cachedFitness(NULL));
	
	v = p1.getValue("fitness_over_time");
	v = c(v, f);
	p1.setValue("fitness_over_time", v);
}

2001 late() {
	//Export fitness over time data for this simulation
	v = p1.getValue("fitness_over_time");
	s = paste(v, sep=" ");
	if (logging == T){
		writeFile(getwd() + "/" + data_file, s, append=T);
		print("Data exported to " + getwd() + "/" + data_file);
	}
	
	print(length(v) + " entries exported");
	print("Simulation complete");
}
